# Data cleaning & Dataset analysis

In [167]:
import numpy as np
import pandas as pd

In [168]:
df = pd.read_csv("./Documents/COVID_for_families.csv")

In [169]:
df.shape

(7305, 119)

Column names

In [170]:
for name in df.columns:
    print(name)

ID
TemporaryMark
Gender
AutonomousCommunity
SchoolOwnership
Pond
PondMax3
KindOfPlace
Income
LivingUnit
DependentPersons
WorkConfinement
WorkConfinementsSecondAdult
ChildEarlyEducation1
ChildEarlyEducation2
ChildPrimaryEducation
ChildSecondaryEducation
ChildBaccaleaurate
ChildVocationalTraining
ChildrenSpecialNeeds
WorkloadChange
HouseworkMore
Sleep
Leisure
Sports
Friends
ExtendedFamily
Past
Future
Sex
Reconciling
DomesticHelp
Tired
TimeOff
InterruptChildren
InterruptChildrenFrequency
ChildrenSchookwork
ShareElectronicDevices
Bedtime
PositiveImpact
Bonding
BondingNeighbours
TastesAndAbilities
Responsability
Adaptarion
Understanding
NegativeImpact
Anxiety
Loneliness
Sadness
LossFamilyMember
FinancialLoss
Arguments
AlcoholMedicationDrug
TechnologyUse
NegativeImpactOther
NegativeImpactNoanswer
ChildPhysicalActivity
ChildScreens
ChildSleep
ChildDiet
ChildFear
ChildFrustation
Irritability
Boredom
ChildFake
ChildIFriends
ChildFriendship
ChildSpace
ChildIntrospection
ChildLeavingHome
ChildNoVariation
ChildNoAnswers
ChildMissExercise
ChildMissFriends
ChildMissExperience
ChildMissContents
ChildMissGroup
ChildMissExam
ChildMissTeacher
HelpOnline
SchoolCommunication
ParentsGroups
ParentsCommunicationReturn
SchoolFees
ChallengeContent
ChallengeMonitoring
ChallengeEmotionalSupport
ChallengeNeeds
ChallengeEvaluation
ChallengeCommunication
ChallengeOnline
ChallengeEquipment
ChallengeVulnerable
ChallengeAny
PriorityCustody
PriorityContent
PriorityAutonomy
PrioritySocialisation
PriorityEmotional
FamiliesCollaboration
SchoolSpace
SpaceBarracks
SpacePorch
SpaceDining
SpaceHall
SpaceGym
SpaceOther
SpaceNone
SpaceStreet
SpacePlots
SpaceParks
SpacePublic
SpaceSurroundingOther
SpaceSurroundingNone
ActivitiesOutside
Selección
filter_
SchoolOwnership1

## 1. Data Cleaning
- Explore the dataset to detect missing values, outliers, and other necessary transformations
- Describe the distribution of the main socio-demographic variables

#### Preliminar filtering
Before any processing, drop some columns which either have too many NaN values or are useless.  

Don't remove all columns with at least one NaN value because they could be important columns for the analysis and the percentage of NaN values ​​for each column is very low (1% over all instances).

In [171]:
drop_column_list = ['ID',
                    'Income',
                    'TemporaryMark', 
                    'Pond',
                    'PondMax3', 
                    'ShareElectronicDevices', 
                    'NegativeImpactNoanswer', 
                    'SchoolFees', 
                    'Selección', 
                    'filter_', 
                    'SchoolOwnership1'
                    ]

df.drop(drop_column_list, axis=1, inplace=True)

In [172]:
df.head()

,Gender,AutonomousCommunity,SchoolOwnership,KindOfPlace,LivingUnit,DependentPersons,WorkConfinement,WorkConfinementsSecondAdult,ChildEarlyEducation1,ChildEarlyEducation2,...,SpaceGym,SpaceOther,SpaceNone,SpaceStreet,SpacePlots,SpaceParks,SpacePublic,SpaceSurroundingOther,SpaceSurroundingNone,ActivitiesOutside
0,NaN,PAIS VASCO,Público,2.0,2,0,1,1.0,1,0,...,0,0,0,0,0,0,1,0,0,2.0
1,2.0,PAIS VASCO,Público,2.0,2,0,1,0.0,1,0,...,0,0,0,1,0,1,1,0,0,2.0
2,2.0,PAIS VASCO,Público,2.0,2,0,1,1.0,0,1,...,0,0,0,0,0,1,1,0,0,2.0
3,2.0,PAIS VASCO,Concertado,2.0,2,0,1,1.0,1,0,...,0,0,0,1,0,1,0,0,0,3.0
4,2.0,PAIS VASCO,Público,2.0,2,0,1,1.0,0,1,...,0,1,0,0,0,1,0,0,0,3.0

Then drop all the istances that have at least 2 NaN values.  

Don't drop all instances with at least one NaN values because there are 5766 instances matching this status...

In [173]:
# Columns with a least one NaN value
na_columns = df.columns[df.isna().any()]

# Rows with a least 2 NaN value
na_rows = df[na_columns].isna().sum(axis=1) >= 2

df_rowsWithNa = df.loc[na_rows, na_columns]
df_rowsWithNa

,Gender,AutonomousCommunity,KindOfPlace,WorkConfinementsSecondAdult,WorkloadChange,HouseworkMore,Sleep,Leisure,Sports,Friends,...,Bedtime,PositiveImpact,NegativeImpact,HelpOnline,SchoolCommunication,ParentsGroups,ParentsCommunicationReturn,FamiliesCollaboration,SchoolSpace,ActivitiesOutside
0,NaN,PAIS VASCO,2.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,...,1.0,2.0,2.0,NaN,3.0,3.0,1.0,3.0,1.0,2.0
5,2.0,PAIS VASCO,2.0,1.0,6.0,2.0,3.0,1.0,1.0,3.0,...,0.0,2.0,2.0,3.0,1.0,4.0,3.0,3.0,1.0,3.0
11,2.0,PAIS VASCO,2.0,0.0,NaN,2.0,4.0,4.0,3.0,3.0,...,0.0,2.0,0.0,4.0,3.0,3.0,2.0,3.0,1.0,1.0
16,2.0,PAIS VASCO,2.0,1.0,6.0,2.0,3.0,1.0,1.0,1.0,...,0.0,2.0,2.0,NaN,2.0,3.0,2.0,3.0,1.0,NaN
21,2.0,PAIS VASCO,2.0,1.0,3.0,1.0,4.0,1.0,4.0,4.0,...,0.0,2.0,2.0,NaN,2.0,4.0,1.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7253,2.0,ARAGÓN,2.0,1.0,7.0,2.0,2.0,4.0,3.0,4.0,...,1.0,2.0,2.0,3.0,2.0,3.0,4.0,3.0,2.0,3.0
7280,2.0,ARAGÓN,2.0,1.0,5.0,2.0,2.0,2.0,1.0,3.0,...,1.0,0.0,2.0,NaN,NaN,NaN,NaN,3.0,2.0,2.0
7287,2.0,ARAGÓN,1.0,NaN,3.0,2.0,2.0,1.0,2.0,2.0,...,1.0,2.0,2.0,3.0,3.0,2.0,2.0,3.0,1.0,NaN
7299,2.0,CEUTA,2.0,1.0,7.0,0.0,3.0,4.0,3.0,2.0,...,0.0,2.0,2.0,4.0,2.0,3.0,2.0,3.0,1.0,3.0
7300,1.0,CEUTA,2.0,0.0,2.0,2.0,2.0,3.0,3.0,2.0,...,0.0,1.0,2.0,2.0,NaN,NaN,NaN,3.0,3.0,3.0

In [174]:
# Full instances selection
index = [i for i in np.array(df.index) if i not in df_rowsWithNa.index]

df = df.loc[index, :]

In [175]:
df.shape

(6447, 108)

---

### NaN values of '**AutonomousCommunity**' column

- It's just one, replace its value with mode because it has all the non-NaN features, so the mode is very significant for the inference.

In [176]:
df.loc[df.AutonomousCommunity.isna(), :].isna()

,Gender,AutonomousCommunity,SchoolOwnership,KindOfPlace,LivingUnit,DependentPersons,WorkConfinement,WorkConfinementsSecondAdult,ChildEarlyEducation1,ChildEarlyEducation2,...,SpaceGym,SpaceOther,SpaceNone,SpaceStreet,SpacePlots,SpaceParks,SpacePublic,SpaceSurroundingOther,SpaceSurroundingNone,ActivitiesOutside
733,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [177]:
df.loc[:, ["AutonomousCommunity"]].value_counts()

AutonomousCommunity
COMUNIDAD VALENCIANA    2790
MADRID                  1062
CATALUÑA                 627
ANDALUCÍA                464
CASTILLA Y LEÓN          208
PAIS VASCO               195
GALICIA                  181
CASTILLA LA MANCHA       178
ARAGÓN                   144
CANARIAS                 125
ASTURIAS                 117
MURCIA                    93
ILLES BALEARS             75
CANTABRIA                 56
NAVARRA                   54
EXTREMADURA               42
LA RIOJA                  27
CEUTA                      4
MELILLA                    4
Name: count, dtype: int64

In [178]:
AutoCom_mode = df.AutonomousCommunity.mode()[0]
df.loc[df.AutonomousCommunity.isna(), ['AutonomousCommunity']] = AutoCom_mode

---

### NaN values of '**KindOfPlace**' column

In [179]:
df = df.loc[df.KindOfPlace.isna() == False, :]

---

### NaN values of '**WorkConfinementsSecondAdult**' column

- If '**LivingUnit**' value is 1 ("**One adult person with a minor or minors in care**") then '**WorkConfinementsSecondAdult**' value is set to 0 ("**No**")

Drop remaining instances

In [180]:
mask_index = df.LivingUnit == 1 & df.WorkConfinementsSecondAdult.isna()

df.loc[mask_index, 'WorkConfinementsSecondAdult'] = 0

In [181]:
df.loc[df.WorkConfinementsSecondAdult.isna(), ['LivingUnit', 'WorkConfinementsSecondAdult']]

      LivingUnit  WorkConfinementsSecondAdult
319            2                          NaN
754            2                          NaN
1687           2                          NaN
1778           2                          NaN
1942           2                          NaN
2264           2                          NaN
2287           2                          NaN
3608           2                          NaN
3631           2                          NaN
3834           2                          NaN
4448           2                          NaN
5465           2                          NaN
6696           2                          NaN
6697           2                          NaN
6792           2                          NaN

In [182]:
df = df.loc[df.WorkConfinementsSecondAdult.isna() == False, :]

---

### NaN values of '**WorkloadChange**' column

In [183]:
df = df.loc[df.WorkloadChange.isna() == False, :]

---

### NaN values of '**HouseworkMore**' column

In [184]:
df = df.loc[df.HouseworkMore.isna() == False, :]

---

### NaN values of '**Sleep**' column
- If '**Tired**' value is 1 OR 2 ("**Maybe**" OR "**Yes**") then '**Sleep**' value is set to 2 ("**Less than before**")

In [185]:
Sleep_mode = df.Sleep.mode()[0]
mask_index = df.Sleep.isna() & ((df.Tired == 1) | (df.Tired == 2))

df.loc[mask_index, ['Sleep']] = Sleep_mode

Drop remaining istances

In [186]:
df = df.loc[df.Sleep.isna() == False, :]

---

### NaN values of '**DomesticHelp**' column
- Replace all the missing values with meddle values such as "**I prefer not to answer**"

In [187]:
middle_value = 2

df.loc[df.DomesticHelp.isna(), 'DomesticHelp'] = middle_value

---

### NaN values of '**FamiliesCollaboration**' column
- Replace all the missing values with meddle values such as "**I don't know**"

In [188]:
# na_val_count = df.FamiliesCollaboration.isna().sum()
# print(f"There are {na_val_count} NaN values")

In [189]:
middle_value = 2
df.loc[df.FamiliesCollaboration.isna(), 'FamiliesCollaboration'] = middle_value

---

### NaN values of '**PositiveImpact**' column
- The pattern of the next questions is "If yes, then answere....", so if at least one of the next questions values is 1 (**yes**)  then  '**PositiveImpact**' is set to 2 ("**yes**")

In [190]:
mask_index = df.PositiveImpact.isna() & ((df.Adaptarion==1) | (df.Bonding==1) | (df.TastesAndAbilities==1) | (df.Responsability==1) | (df.Understanding==1) | (df.BondingNeighbours==1))
df.loc[mask_index, ['PositiveImpact', 'Adaptarion', 'Bonding', 'TastesAndAbilities', 'Responsability', 'Understanding', 'BondingNeighbours']]

,PositiveImpact,Adaptarion,Bonding,TastesAndAbilities,Responsability,Understanding,BondingNeighbours
622,NaN,1,1,0,1,0,1
2207,NaN,1,1,1,0,0,0
4067,NaN,0,1,0,0,0,0
6549,NaN,0,1,1,0,1,0
6551,NaN,0,1,1,0,1,0
7281,NaN,0,1,0,0,0,0

In [191]:
df.loc[mask_index, ['PositiveImpact']] = df.PositiveImpact.mode()[0]

---

### NaN values of '**InterruptChildren**' and '**InterruptChildrenFrequency**' columns
The pattern of the next questions is "If yes, then answere....", so 

To start missing values of 'InterruptChildrenFrequency' are set to 0, then
- if **InterruptChildrenFrequency** values **>** 0 (**nan**)  then  '**InterruptChildren**' is set to 1 ("**yes**")  
- else drop istance

In [192]:
# Assign 1  where 'InterruptChildren' is NaN and 'InterruptChildrenFrequency' si not
df.loc[ (df.InterruptChildrenFrequency.isna() == False) & df.InterruptChildren.isna(), ['InterruptChildren']] = 1

In [193]:
# Drop if 'InterruptChildren' and 'InterruptChildrenFrequency' are NaN
df = df.loc[ (df.InterruptChildrenFrequency.isna() == False) | (df.InterruptChildren.isna() == False), :]

#### Note:
Most of missing values are due to the fact that the respondents replied 'False' to the question 'Interrupted working day to take care of children?'

In [194]:
na_val_count = df.InterruptChildrenFrequency.isna().sum()
print(f"There are {na_val_count} missing values in 'InterruptChildrenFrequency' column")

There are 1547 missing values in 'InterruptChildrenFrequency' column

In [195]:
# Assign 0 where 'InterruptChildrenFrequency' is NaN
df.loc[df.InterruptChildrenFrequency.isna(), 'InterruptChildrenFrequency'] = 0

#### TODO

In [196]:
# ??????????????????????????????????    THIS ISN'T POSSIBLE    ??????????????????????????????????
df.loc[ (df.InterruptChildren == 0) & (df.InterruptChildrenFrequency > 0), 'InterruptChildrenFrequency'].value_counts()

InterruptChildrenFrequency
1.0    79
3.0    22
2.0    22
Name: count, dtype: int64

---

### NaN values of '**NegativeImpact**' column
The pattern of the next questions is "If yes, then answere...", so 
- if at least one of the next questions values is 1 (**yes**)  then  '**NegativeImpact**' is set to 2 ("**yes**")

In [197]:
df.NegativeImpact.isna().sum()

np.int64(20)

In [198]:
mask_index = df.NegativeImpact.isna() & ((df.Anxiety==1) | (df.TechnologyUse==1) | (df.Sadness==1) | (df.Arguments==1) | (df.FinancialLoss==1) | (df.Loneliness==1) | (df.LossFamilyMember==1) | (df.NegativeImpactOther==1) | (df.AlcoholMedicationDrug==1))

print(f"There are {(df.loc[mask_index]).shape[0]} NaN values in 'NegativeImpact' column \nThis is the head:")

df.loc[mask_index, 'NegativeImpact' : 'NegativeImpactOther'].head()

There are 16 NaN values in 'NegativeImpact' column
This is the head:

,NegativeImpact,Anxiety,Loneliness,Sadness,LossFamilyMember,FinancialLoss,Arguments,AlcoholMedicationDrug,TechnologyUse,NegativeImpactOther
407,NaN,1,1,1,0,0,0,0,0,0
1648,NaN,1,0,0,0,0,1,0,1,0
1853,NaN,1,1,1,0,0,0,0,1,0
2311,NaN,0,0,0,0,0,0,0,1,0
3159,NaN,1,0,1,1,0,0,0,1,0

In [199]:
df.loc[mask_index, 'NegativeImpact'] = df.NegativeImpact.mode()[0]

Drop all remaining instances with NaN value

In [200]:
df.loc[df.NegativeImpact.isna(), 'NegativeImpact']

3483   NaN
4232   NaN
4490   NaN
4491   NaN
Name: NegativeImpact, dtype: float64

In [201]:
df = df.loc[df.NegativeImpact.isna() == False, :]

---

### NaN values of '**FamiliesCollaboration**' column
- Replace all the missing values with meddle values such as "**I don't know**"

In [202]:
na_val_count = df.FamiliesCollaboration.isna().sum()
print(f"There are {na_val_count} NaN values")

There are 0 NaN values

In [203]:
# middle_value = 2
# df.loc[df.FamiliesCollaboration.isna(), 'FamiliesCollaboration'] = middle_value

---

### NaN values of '**SchoolSpace**' column
- Replace all the missing values with meddle values such as "**Maybe**"

In [204]:
na_val_count = df.SchoolSpace.isna().sum()
print(f"There are {na_val_count} NaN values")

There are 5 NaN values

In [205]:
middle_value = 2
df.loc[df.SchoolSpace.isna(), 'SchoolSpace'] = middle_value

---

#### The filter of the NaN values

At the end remove all istances with a NaN value

In [206]:
# Columns with a least one NaN value
na_columns = df.columns[df.isna().any()]

# Rows with a least 1 NAN value
na_rows = df[na_columns].isna().sum(axis=1) >= 1

df_rowsWithNa = df.loc[na_rows, na_columns]

In [207]:
index = [i for i in np.array(df.index) if i not in df_rowsWithNa.index]

df = df.loc[index, :]

In [208]:
df.shape

(6016, 108)

## 2. Clean dataset analysis
Main socio-demographic features description

#### Note 'Gender': 
Dataset unbalanced for the gendere 2 (female)

In [209]:
df.Gender.value_counts()

Gender
2.0    5487
1.0     529
Name: count, dtype: int64

#### Note 'AutonomousCommunity':
The First Provinces where the responents (74%) lives are:
- COMUNIDAD VALENCIANA
- MADRID
- CATALUÑA
- ANDALUCÍA

In [210]:
df.AutonomousCommunity.value_counts()

AutonomousCommunity
COMUNIDAD VALENCIANA    2629
MADRID                  1012
CATALUÑA                 586
ANDALUCÍA                428
CASTILLA Y LEÓN          193
PAIS VASCO               171
GALICIA                  169
CASTILLA LA MANCHA       138
ARAGÓN                   132
CANARIAS                 119
ASTURIAS                 111
MURCIA                    88
ILLES BALEARS             73
CANTABRIA                 50
NAVARRA                   47
EXTREMADURA               40
LA RIOJA                  26
CEUTA                      3
MELILLA                    1
Name: count, dtype: int64

#### Note 'SchoolOwnership' & 'KindOfPlace':
Most of families live in Big city & send their kids to public school

In [211]:
df.SchoolOwnership.value_counts()

SchoolOwnership
Público       3801
Concertado    1535
Privado        680
Name: count, dtype: int64

In [212]:
df.KindOfPlace.value_counts()

KindOfPlace
2.0    3621
1.0    1520
0.0     875
Name: count, dtype: int64

#### Note 'LivingUnit':
Most of families are composed with "Two adults with a minor or minors in their care"

In [213]:
df.LivingUnit.value_counts()

LivingUnit
2    5228
1     517
3     271
Name: count, dtype: int64

In [214]:
df.DependentPersons.value_counts()

DependentPersons
0    5634
1     382
Name: count, dtype: int64

#### Note 'WorkConfinement':
Most respondents started working remotely.

In [215]:
df.WorkConfinement.value_counts()

WorkConfinement
1    4133
0    1883
Name: count, dtype: int64

#### Note Children's education:
Most families have children who go to middle school at most.

In [216]:
df.ChildEarlyEducation1.value_counts()

ChildEarlyEducation1
0    3637
1    2379
Name: count, dtype: int64

In [217]:
df.ChildEarlyEducation2.value_counts()

ChildEarlyEducation2
0    3027
1    2989
Name: count, dtype: int64

In [218]:
df.ChildPrimaryEducation.value_counts()

ChildPrimaryEducation
0    3618
1    2398
Name: count, dtype: int64

In [219]:
df.ChildSecondaryEducation.value_counts()

ChildSecondaryEducation
0    5464
1     552
Name: count, dtype: int64

In [224]:
df.ChildBaccaleaurate.value_counts()

ChildBaccaleaurate
0    5938
1      78
Name: count, dtype: int64

In [225]:
df.ChildVocationalTraining.value_counts()

ChildVocationalTraining
0    5992
1      24
Name: count, dtype: int64

In [226]:
df.ChildrenSpecialNeeds.value_counts()

ChildrenSpecialNeeds
0    5659
1     357
Name: count, dtype: int64

## FILE SAVING

In [227]:
df.to_csv(path_or_buf="./Array_saved/X_without_null.csv", index=False)